#questionsPage{
  display: none;
  justify-content: center;
  margin: auto;
  width: auto;
  padding: auto;


}

#resultPage {
    display: none;
    text-align: center;
    margin: auto;
    height: fit-content;
    background-color: white;
    padding: 25px;
    width: 70vh;
    border-radius: 7px;
    margin-top: 80px;
}

body
{
background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
font-family: 'inter', thin, sans-serif;
font-size: medium;  
margin: 0;
}
section
{
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-top: 80px;
    padding-top: 25px;
    height: auto;
    justify-content: center;
}

#loginPage
{
    display: block;
    justify-content: center;
    width: auto;
    box-sizing: border-box;
}


h1
{
text-align: center;
font-style: normal;
}

form
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    width: 350px;
    border-radius: 7px;
    margin: auto;
    margin-top: auto;
}
 .name 
{
display: flex;
height: 35px;
width: 340px;
color: rgb(4, 48, 246);
}
.mail 
{
display: flex;
height: 35px;
width: 340px;
color: rgb(4, 48, 246);
}
.button-ops
{
display: flex;
height: 40px;
background-color: #027030;
padding: 13px ;
width: 145px;
color: rgb(255, 244, 244);
cursor: pointer;
border: none;
margin: auto;
justify-content: center;
box-shadow: 2px 3px 4px slategray;

}

#userName1{
  font-size: 40px;
}

label input.name {
  font-size: 15px;
  border: 0px solid transparent;
outline: 0;
background-color: rgb(214, 211, 211);
line-height: 30px;
border-radius: 5px;
height: 40px;
}

label input.mail {
  font-size: 15px;
  border: 0px solid transparent;
outline: 0;
background-color: rgb(214, 211, 211);
line-height: 30px;
border-radius: 5px;

height: 40px;
}
.center
{
text-align: center;
margin-bottom: 45px;
margin-top: 15px;

}
.titre
{
    font-size: medium;
}


  #progress {
    width: 100%;
    border-radius: 5px;
    height: 10px;
    background-color:  #027030;
  }

  #progressContainer{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
  }

  #title
  {
    display: flex;
    width: 100%;
    font-size:larger;
    margin-bottom: 25px;
    
  }

  #accueilB{
    margin-bottom: 40px;
    background-color: rgb(43, 43, 191);
  }
  
  .radion label
  { 
    display: block;
    border: 2px solid rgb(234, 242, 6);
    padding: 10px;
    margin-top: 28px;
    height: 25px;
  }
  .button-submissions
  {
    display: flex;
    border: none;
    align-content: center;
   height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
  }
  .button-quitter
  {
background-color: rgb(235, 155, 6);
width: 145px;
color: rgb(255, 244, 244);
cursor: pointer;
border: none;
padding: 12px;
margin: auto;
box-shadow: 2px;
  }

  .button-suivant
  {
    opacity: 0.4;
background-color: #027030;
justify-content: center;
width: 145px;
color: rgb(255, 244, 244);
cursor: pointer;
margin: auto;
border: none;
padding: 12px;
  }
   .myLab
  { 
    display: flex;
    margin: 10px;
    border: dashed 1px  #027030;
    cursor: pointer;
  } 
   .button-accueil
   {
    display: flex;
    height: 40px;
background-color: #027030;
padding: 13px ;
width: 145px;
color: rgb(255, 244, 244);
cursor: pointer;
border: none;
margin: auto;
justify-content: center;
box-shadow: 2px 3px 4px slategray;

   }

#gridlabel{
  display: grid;
  grid-template-columns: 1fr 10px;
  grid-template-rows: 1fr;
}

#selectorImg
{
  width: 100px;
  height: 100px;
}
span#errorName
{
  display: none;
  color:#fa1f07
}




